[package]
name = "vc_cfg"
version = "0.0.1"
edition = "2024"

[features]
default = ["std"]

std = []

[dependencies]

[lints]
workspace = true

[package.metadata.docs.rs]
rustdoc-args = ["-Zunstable-options", "--generate-link-to-definition"]
all-features = true

